*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #c8d0d2;
  margin: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: .5rem;
}

.form-group > label {
  color: #777;
  font-size: .75rem;
  margin-bottom: .25rem;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: .5em 1em;
  border-radius: .3em;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(200, 100%, 40%);
}

.container {
  max-width: 900px;
  margin: 1rem auto;
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  background-color: white;
  cursor: pointer;
  transition: transform 300ms;
  transform-style: preserve-3d;
  transform: perspective(2000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card.flipped {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .front {
  left: 0;
}

.card .back {
  transform: rotateY(180deg);
}

.card-options {
  padding: 0;
  list-style: none;
  margin-top: .5rem;
}

.card-option {
  margin-top: .25rem;
  color: #555;
  font-size: .75rem;
}